@font-face {
  font-family: "Akzidenz Grotesk";
  src: url("fonts/akzidenz-grotesk-roman-webfont.woff2") format("woff2"),
    url("fonts/akzidenz-grotesk-roman-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Akzidenz Grotesk", sans-serif;
  padding: 0;
}

h1 {
  font-size: 3em;
  font-weight: normal;
  letter-spacing: -0.02em;
}

.hr {
  display: inline-block;
  line-height: 42px;
}

.hr:before {
  content: "";
  display: block;
  border-top: 3px solid black;
}

footer {
  position: relative;
}

.copyright {
  position: absolute;
  bottom: 0;
}
