@font-face {
  font-family: "Akzidenz Grotesk";
  src: url("fonts/akzidenz-grotesk-roman-webfont.woff2") format("woff2"),
    url("fonts/akzidenz-grotesk-roman-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Times, serif;
  margin-top: -0.5vh;
  margin-left: 2vw;
  padding: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-family: "Akzidenz Grotesk", sans-serif;
  font-size: 3em;
  font-weight: normal;
  letter-spacing: -0.02em;
}

.hr {
  display: inline-block;
  line-height: 42px;
}

.hr:before {
  content: "";
  display: block;
  border-top: 3px solid black;
}

footer {
  font-family: "Akzidenz Grotesk", sans-serif;
  margin-left: -4vw;
  position: relative;
}

.copyright {
  position: absolute;
  bottom: 0;
  white-space: nowrap;
  overflow: hidden;
}
